<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Simulador de caixa eletrônico</h1> 
    <button class="btn" onclick="showForm('saldo')">Saldo</button>
    <button class="btn" onclick="showForm('deposito')">Fazer depósito</button>
    <button class="btn" onclick="showForm('saque')">Realizar saque</button>
    <button class="btn" onclick="showForm('extrato')">Mostrar Extrato</button>
    <button class="btn" onclick="sair()">Sair</button>
    <div id="form-placement"></div>


    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
  <script src="../js/challenge3.js"></script>
</body>
</html>