<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 6</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Challenge 6</h1> 

    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" placeholder="Digite seu usuario">
    <label for="senha">Senha:</label>
    <input type="password" id="senha" placeholder="Digite seu senha">
    <button onclick="actionButton()"><i class="fa fa-plus" aria-hidden="true"></i> Verificar senha</button>



    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
  <script src="../js/challenge6.js"></script>
</body>
</html>