<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora geométrica</title>
  <link rel="stylesheet" href="../styles/style.css">
  <script src="../js/challenge2.js"></script>
</head>
<body>
  <div class="container">
    <h1>Calculadora geométrica</h1> 
    <button class="btn" onlick="showForm('triangulo')">Calcular área triangulo</button>
    <button class="btn" onlick="showForm('retangulo')">Calcular área retangulo</button>
    <button class="btn" onlick="showForm('cubo')">Calcular volume cubo</button>
    <button class="btn" onlick="showForm('circulo')">Calcular área circulo</button>
    <button class="btn" onlick="sair()">Sair</button>
    <div id="form-placement"></div>
  </div>

</body>
</html>