<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 5</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Challenge 5</h1> 
    
    <button class="btn" onclick="rollDice()" style="font-size: 50px;color: #acdbf7 ;"><i class="fa-solid fa-dice"></i></button>
    <div id="form-placement"></div>


    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
  <script src="../js/challenge5.js"></script>
</body>
</html>