<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 4</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Challenged 4</h1> 


    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
  <script src="../js/challenge4.js"></script>
</body>
</html>