<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 7</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Challenge 7</h1> 

    <label for="task">Tarefa:</label>
    <input type="text" id="task" name="task" placeholder="Digite sua tarefa">
    <button onclick="addTask()">+ Adicionar tarefa</button>
    <div class="container">
      <ul id="taskList">
      </ul>
    </div>



    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
  <script src="../js/challenge7.js"></script>
</body>
</html>