<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 12- Guessing game</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/guessing.css">
</head>
<body>
  <div class="container">
    <h1>Desafio 12 - Jogo do adivinha</h1>

        <p>Tente adivinhar o número entre 1 e 10</p>
        <input type="text" id="guess" placeholder="Digite seu palpite">
        <button id="submitGuess">Enviar Palpite</button>
        <p id="message"></p>
        <div class="cards">
            <div class="card" id="playerCard">
                <h2>Seu Palpite</h2>
                <p id="playerNumber">?</p>
            </div>
            <div class="card hidden" id="computerCard">
                <h2>Número do Computador</h2>
                <p id="computerNumber">?</p>
            </div>
        </div>
        <button id="newGame" style="display: none;">Novo Jogo</button>

  </div>

  <script src="../js/challenge12.js"></script>
</body>
</html>