<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
  <title>Challenge 1</title>
</head>
<body>
  <div class="container">
    <h1>Mensagem de boas vindas :</h1>

    <h2 id="resultado"></h2>
    <script src="../js/challenge1.js"></script>
  
    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
</body>
</html>