<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 13- IMDB</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Desafio 13 - Movies</h1>


      <input type="text" id="nomeFilme" placeholder="Qual filme deseja pequisar?">
      <button id="btnMovie">Pesquisar</button>

  </div>

  <script src="../js/challenge13.js"></script>
</body>
</html>