<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge 6</title>
  <script src="https://kit.fontawesome.com/e817e6100b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <h1>Challenge 6</h1> 

    
      <label for="username">Usuario:</label>
      <input type="text" id="username" name="username" placeholder="Digite seu usuario">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" placeholder="Digite seu senha">
      <button onclick="submitForm()" ><i class="fa fa-plus" aria-hidden="true"></i> Verificar senha</button>

    <p id="message" style="background-color: rgb(163, 155, 155); padding: 2px; border-radius: 5px;"></p>



    <a href="../index.html">
      <button class="home">
      <i  class="fa-solid fa-house"></i>
      </button>
    </a>
  </div>
  <script src="../js/challenge6.js"></script>
</body>
</html>